body {
  text-align: center;
  background-color: #FF0;
  font-family: 'Cookies', sans-serif;
  font-weight:#700;
  font-size: 18px;
  line height: 1.6;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.pokemon-list li {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  position: relative;
  margin-bottom: 0;
  margin-top: 0
}

.navbar {
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  text-decoration: underline;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.btn {

}

.btn-primary {

}

.button-class {
  background-color: #FF4500;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s;
  box-shadow: 0 9px #999;
  border: 2px solid black;
  border-radius: 10px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-bottom: 0;
  margin: top;
}

.button-class:hover {
  background-color: #228B22;
}

.button-class:active {
  background-color: #FF4500;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
