body {
  text-align: center;
  background-color: #FF0;
  font-family: 'Cookies', sans-serif;
  font-weight:#700;
  font-size: 18px;
  line height: 1.6;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.pokemon-list li {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  position: relative;
  margin-bottom: 0;
  margin-top: 0
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 50px;
  width: 100%;
  height: 25%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: none;
}

.modal h1 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 25px;
  text-transform: uppercase;
}

.modal p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header_item {
  flex: 0 1 50px;
  font-size: 22px;
}

img.page-header_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  font-size: 10px;
}

.button-class {
  background-color: #FF4500;
  color: #FFFFFF;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s;
  box-shadow: 0 9px #999;
  border: 2px solid black;
  border-radius: 10px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-bottom: 0;
  margin: top;
}

.button-class:hover {
  background-color: #228B22;
}

.button-class:active {
  background-color: #FF4500;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media all and (min-width: 500px) and (max-width: 500px) {
  body {
    color: #0000FF;
  }
}
