@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

/* Used Colors as CSS Variables */
:root {
--primary-background-color: #FF0;
}

/*
==========
'General'
==========
*/

html, body {
  text-align: center;
  background-color: var(--primary-background-color);
  font-family: 'Londrina Shadow', cursive;
  font-weight: 400;
  font-size: 35px;
}

body:before {
  display: block;
  content: "";
  height: 100px;
}

ul {
  list-style: none;
}

.main-container {
  margin: 100px;
  margin-bottom: 100px;
}

/*
==========
'Navbar'
==========
*/

.navbar-brand {
  font-size: 55px;
  padding: 10px;
  margin-right: 100px;
}

/*
==========
'List'
==========
*/

.list-group {

  border: none;
  line-height: 100px;
  width: 100%;
  padding: 12px 28px;
  background-color: #B22222;
}

/*
==========
'Buttons'
==========
*/

.button {
  width: 300px;
  font-size: 25px;
  font-weight: bold;
  padding: 2px 4px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  background-color: #2E8B57;
  border-color: #FFB6C1;

}

.button:hover {
  color: var(--primary-background-color);
}

/*
==========
'Modal'
==========
*/

#pokemonModal {
  font-size: 30px;
  width: 100%;
}

.modal-body {
  font-size: 150%;
}
